<h1> Books </h1>

<table border = "10" style="width:300px">

<% all_books = Book.read %>
<% all_books.each do |books| %>

<tr>
<td> <%= books["title"] %> </td>
<td> <%= books["author"] %> </td>
</tr>

<% end %>

</table>